
@using System.Web.Optimization
<!DOCTYPE html>
<html>

<head>

    <title>QueenFanShop</title>
    @Styles.Render("~/bundles/style/css")
    @Styles.Render("~/bundles/bootstrap/css")

    @Styles.Render("~/Content/conus.css")
</head>
<body>


    <div class="main">
        @RenderBody()
    </div>

    <div class="footer">
        @Html.Partial("_Footer")
    </div>
</body>
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/bootstrap/js")

</html>