
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="navbar" href="@Url.Action("Index","Home")">Main <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="navbar" href="@Url.Action("Contacts","Contacts")">Contacts</a>
        </li>
        <a class="navbar" href="@Url.Action("Top","Top")">TOP 10</a>
        <li class="nav-item">
            <a class="navbar" href="@Url.Action("Shop","Shop")">Shop</a>
        </li>
    </ul>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Login","Login")">Login</a>
    </li>


</div>