@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

@model QueenFanShop.Web.Models.ULoginData

<h2 class="text-center">Login with Social Media or Manually</h2>
<div class="container">
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("Auth", "Login", FormMethod.Post, new { @id = "AuthForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">

            <div class="vl">
                <span class="vl-innertext">or</span>
            </div>

            <div class="col">
                <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a href="#" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                </a>
                <a href="#" class="google btn">
                    <i class="fa fa-google fa-fw"></i> Login with Google+
                </a>
            </div>

            <div class="col">
                <div class="hide-md-lg">
                    <p>Or sign in manually:</p>
                </div>

                @Html.TextBoxFor(u => u.UserName, new
                {
                   placeholder = "Username",
                   name = "username",
                   value = ""
                })


                @Html.TextBoxFor(u => u.UserPassword, new
               {
                  type = "password",
                  placeholder = "Password",
                  name = "password",
                  value = ""
               })
                <button>Login</button>
            </div>

        </div>

    }
</div>

<div class="bottom-container">
    <div class="row">
        <div class="col">
            <a href="@Url.Action("Register", "Register")" style="color:white" class="btn">Sign up</a>
        </div>
        <div class="col">
            <a href="#" style="color:white" class="btn">Forgot password?</a>
        </div>
    </div>
</div>